$max-width-outer: 960px;
$max-width-inner: 768px;

$font-family: ('Roboto', 'Arial', 'Lucida Grande', 'sans-serif');
$font-family-header: ('Roboto', 'Arial', 'Lucida Grande', 'sans-serif');

$color: (
	'white': #ffffff,
	'font': #313131,
	'link': #fe3c2f,
	'element': #1E242C,
	'panel': #EFEFEF,
	'background': #eff1f3,
	'header': #121212,
);