$max-width-outer: 960px;
$max-width-inner: 768px;

$font-family: ('Roboto', 'Arial', 'Lucida Grande', 'sans-serif');
$font-family-header: ('Roboto', 'Arial', 'Lucida Grande', 'sans-serif');

$color: (
	'white': #ffffff,
	'font': #555,
	'link-under': #ebebeb,
	'link-element': #9b9b9b,
	'panel': #EFEFEF,
	'background': #eff1f3,
	'subfont': #888,
);